$background: #A9D7D1;
$width: 65%;

body {
  background-color: $background;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
}

#title {
  font-weight: bold;
}

#main {
  width: $width;
  height: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 30px 20px;
}