* {
  box-sizing: border-box;
}

body {
  background-color: #a9d7d1;
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 8px 5px;
  width: 250px;
}

select {
  padding: 8px 5px;
  background-color: rgb(220, 220, 220);
}

#title {
  font-weight: bold;
}

#description {
  margin-bottom: 30px;
}

#main {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px 20px;
}

.row {
  margin-bottom: 15px;
}

#main .left-column,
#main .right-column {
  display: inline-block;
}

.left-column {
  width: 40%;
  text-align: right;
  padding-right: 15px;
  padding-top: 5px;
  vertical-align: top;
}

.right-column {
  width: 48%;
  text-align: left;
  vertical-align: middle;
}

.radio-row {
  margin-bottom: 8px;
}

.without-offset {
  padding-top: 0px;
}

#textarea {
  padding: 5px;
}

#submit {
  padding: 12px 25px;
  color: #fff;
  background-color: rgb(102, 156, 228);
  border: none;
  border-radius: 5px;
  font-size: 1em;

  margin-top: 10px;
}
